@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f9efe4;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / old Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome / Safari / WebKit */
}

.image-render-pixel {
  image-rendering: pixelated;
}

@keyframes boatFloat {
  0% {
    transform: translateY(0px) rotate(-1.2deg);
  }
  50% {
    transform: translateY(-12px) rotate(1.3deg);
  }
  100% {
    transform: translateY(0px) rotate(-1.2deg);
  }
}

@theme {
  --breakpoint-xs: 480px; /* new */
  --breakpoint-3xl: 1646px; /* new */
}
